body {font-family: 'Montserrat', sans-serif;
    background-color: darkslategray;
}

.cabecalho {
    font-family: 'Rubik Burned', system-ui;
    text-align: center;
}
nav{
text-align: center;
display: flex;
justify-content:center;
gap: 100px;}
a {text-decoration:none;
color: cadetblue;}
div {
    display: flex;
    flex-direction: column;
    text-align: center;
}